<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Prayer Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Pray Without Ceasing. 1 Thes. 5:17</a>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
